@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --BK-Main: #202020;
  --BK-Main-50: #20202080;
  --BK-Secundary: #363636;
  --BK-Tertiary: linear-gradient(312deg, #383838 0%, #202020 60%);
  --Linear-Shadow: linear-gradient(180deg, #ffffff 0%, #2b2d3480 100%);
  --WT-Main: #ffffff;
  --WT-Main-50: #ffffff80;
  --WT-BG: #fafafa;
  --Active-Main: #fff82d;
  --Active-Main-Action: linear-gradient(180deg, #fff82d 0%, #e9e8ca 100%);
  --Action: #8a6afd;
  --Action-Hover: #9e84ff;
  --Alert: #e32a42;
  --Alert-Hover: #f02c46;
  --BG-Card: #e5e5e5;
  --BTN: #d9d9d9;
  --BTN-Hover: #cbcbcb;

  --Poppins: "Poppins", sans-serif;

  --Shadow: 0px 4px 8px #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: var(--Poppins);
  font-style: normal;
}
