@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --BK-Main: #202020;
  --BK-Main-50: #20202080;
  --BK-Secundary: #363636;
  --BK-Tertiary: linear-gradient(312deg, #383838 0%, #202020 60%);
  --Lin-Shadow: linear-gradient(180deg, #ffffff00 0%, #2b2d34b7 100%);
  --WT-Main: #ffffff;
  --WT-Main-50: #ffffff80;
  --WT-BG: #fafafa;
  --Active-Main: #fff82d;
  --Active-Main-Action: linear-gradient(280deg, #fff82d 0%, #e9e8ca 90%);
  --Action: #8a6afd;
  --Action-Hover: #9e84ff;
  --Alert: #e32a42;
  --Alert-Hover: #f02c46;
  --BG-Card: #e5e5e5;
  --BTN: #d9d9d9;
  --BTN-Hover: #cbcbcb;

  --Poppins: "Poppins", sans-serif;

  --Shadow: 0px 4px 8px #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: var(--Poppins);
  font-style: normal;
  background-color: var(--BK-Main);
  position: relative;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 14px;
}
*::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  background-color: var(--BK-Main);
}

*::-webkit-scrollbar-track:hover {
  background-color: #202020e7;
}

*::-webkit-scrollbar-track:active {
  background-color: var(--BK-Main-50);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--BK-Secundary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--WT-Main-50);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--WT-Main);
}
